body{
    background-color: GhostWhite;
}
#nav1 {
    height: 3.7rem;
    background-color: #00F5FF;
}
#my_carousel {
    margin-top: 3.7rem;
}
nav {
    height: 4rem;
}
.item_img  {
    width: 100%;
}
.item {
    margin-top: 1rem;
}