body{
}
#nav11 {
    height: 3rem;
}
#nav21 {
    height: 3rem;
}
#nav3 {
    margin-top: 4rem;
    width: 5rem;
}
.my_tab {
    margin-top: 3.7rem;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    background-color: pink;
    padding-left: 0rem;
}
.media {
    margin-top: 1rem;
}
.tab_img {
    position: relative;
    left: 0rem;
    width: 5rem;
    height: 5rem;
}
.tab_btn {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    left: 8.5rem;
    top: 2rem;
}
.tab_h3 {
    position: relative;
    left: 10rem;
    top: 1rem;
}
.tab_h4 {
    position: relative;
    left: 7rem;
    top: 3rem;
}
.shop {
    height:3rem;
}
.shop_img {
    margin: 0.5rem;
    width: 2rem;
    height: 2rem;
    position: relative;
    left: 0.5rem;
    top: 0rem;
}
.shop_h {
    position: relative;
    left: 1rem;
    top: 1rem;
}
.shop_btn {
    width: 4rem;
    height: 2rem;
    position: relative;
    left: 12.5rem;
    top: 0.5rem;
}