<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>account</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    {%load static%}
</head>
<body>
    <link rel="stylesheet" href="{%static 'css/account.css'%}">
    <!-- 导航栏 -->
    <nav class="navbar navbar-tag fixed-top navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="{%static 'img/kong.jpg'%}" style="width:2rem;height:2rem">
            账户
        </a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#my_collapse">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="my_collapse">
            <div class="navbar-nav text-right">
                <a class="nav-item nav-link active" href="http://www.ruoyi.online:8000/index/">主页</a>
                <a class="nav-item nav-link active" href="http://www.ruoyi.online:8000/menu/">菜单</a>
                <a class="nav-item nav-link active" href="http://www.ruoyi.online:8000/login/">登录</a>
                <a class="nav-item nav-link active" href="http://www.ruoyi.online:8000/account/">账户</a>
            </div>
        </div>
    </nav>
    <!-- 信息栏 -->
    <div class="container">
        <nav class="nav-bar info_nav1">
            <a class="navbar-item info_key">用户名</a>
            <a class="navbar-item info_value" href="#">若逸</a>
        </nav>
    </div>
    <hr class="m-2">
    <div class="container">
        <nav class="nav-bar info_nav">
            <a class="navbar-item info_key">手机</a>
            <a class="navbar-item info_value" href="#">157****33511</a>
        </nav>
    </div>
    <hr class="m-2">
    <div class="container">
        <nav class="nav-bar info_nav">
            <a class="navbar-item info_key">登录密码</a>
            <a class="navbar-item info_value" href="#">修改</a>
        </nav>
    </div>
    <hr class="m-2">
    <div class="container">
        <nav class="nav-bar info_nav">
            <a class="navbar-item info_key">地址</a>
            <a class="navbar-item info_value" href="#">14栋前门</a>
        </nav>
    </div>
    <hr class="m-2">
    <div class="container info_nav">
        <nav class="nav-bar text-center">
            <a class="navbar-item text-danger">退出登录</a>
        </nav>
    </div>
    <hr class="m-2">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>