<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>login</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    {%load static%}
</head>
<body>
    <link rel="stylesheet" href="{%static 'css/login.css'%}">
    <!-- 导航栏 -->
    <nav id="nav1" class="navbar navbar-tag fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="{%static 'img/kong.jpg'%}" style="width:2rem;height:2rem">
            账户
        </a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#my_collapse">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="my_collapse">
            <div class="navbar-nav text-right">
                <a class="nav-item nav-link active" href="http://www.ruoyi.online:8000/index/">主页</a>
                <a class="nav-item nav-link active" href="http://www.ruoyi.online:8000/menu/">菜单</a>
                <a class="nav-item nav-link active" href="http://www.ruoyi.online:8000/login/">登录</a>
                <a class="nav-item nav-link active" href="http://www.ruoyi.online:8000/account/">账户</a>
            </div>
        </div>
    </nav>
    <!-- 导航 -->
    <nav class="nav-bar login_nav active">
        <a class="navbar-item login_a1" href="#">登录</a>
        <a class="navbar-item login_a2" href="http://www.ruoyi.online:8000/register/">注册</a>
    </nav>
    <hr class="m-0">
    <!-- 登录 -->
    <div class="container form_outer">
        <form class="form_inter">
        <div class="form-group">
            <lable for="username">用户名</lable>
            <input type="text" class="form-control" id="username" name="username" placeholder="username">
        </div>
        <div class="form-group">
            <lable for="username">密码</lable>
            <input type="text" class="form-control" id="password" name="password" placeholder="password">
        </div>
        <button type="submit" class="btn btn-primary mr-2">登录</button>
        <a href="#">忘记密码</a>
    </form>
    </div>



    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>