<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    {%load static%}
</head>
<body>
    <link rel="stylesheet" href="{%static 'css/menu.css'%}">
    <!-- 导航栏 -->
    <nav id="nav1" class="navbar navbar-tag fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="{%static 'img/kong.jpg'%}" style="width:2rem;height:2rem">
            菜单
        </a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#my_collapse">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="my_collapse">
            <div class="navbar-nav text-right">
                <a class="nav-item nav-link active" href="http://www.ruoyi.online:8000/index/">主页</a>
                <a class="nav-item nav-link active" href="http://www.ruoyi.online:8000/menu/">菜单</a>
                <a class="nav-item nav-link active" href="http://www.ruoyi.online:8000/login/">登录</a>
                <a class="nav-item nav-link active" href="http://www.ruoyi.online:8000/account/">账户</a>
            </div>
        </div>
    </nav>
    <!-- 菜单栏 -->
    <!--<ul id="nav2" class="nav nav-tabs nav-light">
        <li class="nav-item active">
            <a class="nav-link">苹果</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link">香蕉</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link">桃子</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link">草莓</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link">雪梨</a>
        </li>
    </ul> -->

    <div class="container my_tab">
    <div id="tab-content" class="row tab-content">
        <div id="1" class="col-lg tab-pane active">
            {% for i in items %}
            <div class="media tab_media">
                <h6 class="tab_h3">青苹果</h6>
                <h6 class="tab_h4">￥5</h6>
                <img class="tab_img" src="{%static 'img/apple.jpg'%}">
                <button type="button" class="btn btn-primary rounded-circle tab_btn"><a>+</a></button>
            </div>
            {% endfor %}
        </div>
        <div id="2" class="tab-pane container">
            {% for i in items %}
            <div class="media tab_media">
                <h6 class="tab_h3">青苹果</h6>
                <h6 class="tab_h4">￥5</h6>
                <img class="tab_img" src="{%static 'img/banana.jpg'%}">
                <button type="button" class="btn btn-primary rounded-circle tab_btn">+</button>
            </div>
            {% endfor %}
        </div>
        <div id="3" class="tab-pane container">
            {% for i in items %}
            <div class="media tab_media">
                <h6 class="tab_h3">青苹果</h6>
                <h6 class="tab_h4">￥5</h6>
                <img class="tab_img" src="{%static 'img/peach.jpg'%}">
                <button type="button" class="btn btn-primary rounded-circle tab_btn">+</button>
            </div>
            {% endfor %}
        </div>
        <div id="4" class="tab-pane container">
            {% for i in items %}
            <div class="media tab_media">
                <h6 class="tab_h3">青苹果</h6>
                <h6 class="tab_h4">￥5</h6>
                <img class="tab_img" src="{%static 'img/strawberry2.jpg'%}">
                <button type="button" class="btn btn-primary rounded-circle tab_btn">+</button>
            </div>
            {% endfor %}
        </div>
        <div id="5" class="tab-pane container">
            {% for i in items %}
            <div class="media tab_media">
                <h6 class="tab_h3">青苹果</h6>
                <h6 class="tab_h4">￥5</h6>
                <img class="tab_img" src="{%static 'img/lemon.jpg'%}">
                <button type="button" class="btn btn-primary rounded-circle tab_btn">+</button>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>


    <!-- 垂直 -->
    <ul id="nav3" class="nav nav-tabs flex-column fixed-top nav-light text-center">
        <li class="nav-item active">
            <a class="nav-link" data-toggle="tab" href="#1">苹果</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" data-toggle="tab" href="#2">香蕉</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" data-toggle="tab" href="#3">桃子</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" data-toggle="tab" href="#4">草莓</a>
        </li>
        <li class="nav-item " >
            <a class="nav-link" data-toggle="tab" href="#5">柠檬</a>
        </li>
    </ul>

    <!-- 购物栏 -->
    <div class="container">
    <div class="row">
    <div class="col-lg">
       <div class="media shop_media fixed-bottom">
            <img class="shop_img rounded-circle" src="{%static 'img/shopcar.jpg'%}">
            <h6 class="shop_h">￥5</h6>
            <button type="button" class="btn shop_btn "><a>结算</a></button>
        </div>
    </div>
    </div>
    </div>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>